<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Recipe List
    </h1>
    <div>
        {% for recipe in data %}
        <div>
            <div>
                <a href="/recipe/{{recipe.id}}">{{ recipe.title }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div>
        <a href="/newrecipeadd">Add a new Recipe</a>
    </div>
    <div>
        <a href="/newauthoradd">Add new Author</a>
    </div>
    {% if request.user.is_authenticated %}
    
    <div>
    <a href="/logout/">Log Out</a>
    </div>
    {% endif %}

{% if not request.user.is_authenticated %}
<div>
    <a href="/login/">Login</a>
</div>
<div>
    <a href="/signup/">Signup</a>
</div>
{% endif %}
    
    
</body>
</html>